.main {
    width: 80%;
    margin: auto;
  }
  
  .title {
    font-size: xx-large;
    text-align: center;
  }
  .textos{
      font-size: x-large;
      padding: 15;
  }
  
  .container {
      margin-top: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Peliculas Peliculas Series Series"
      "Peliculas Peliculas Series Series";
  }
  
  .Peliculas {
    grid-area: Peliculas;
    text-align: center;
  
  }

  .Peliculas :hover{
    opacity: .9;
  }
  
  .Series {
    grid-area: Series;
  text-align: center;
  }

  .Series :hover{
    opacity: .9;
  }
  
  .poster{
      max-height: 400;
      max-width: 400;
  }